<head>
<style type="text/css">
h1 {
	color: teal;
	width: 500px;
	border: 2px solid green;
}	
</style>
</head>

<h1>Name: </h1>
<%= @me.name %>
<br/>
<h1>Age: </h1>
<%= @me.age %>
<br/>
<h1>Year: </h1>
<%= @me.year %>
<br />
<h1>Fun fact: </h1>
<%= @me.fact %>
<br />
<h1>What I'm excited about: </h1>
<%= @me.excitement %>
<br />